APP_UID=1000
APP_GID=1000
# https://crontab.cronhub.io/
CRON_SCHEDULE='0 */6 * * *'
TZ='UTC'
IEEE_TAP_SCHOLARONE_USERNAME='replace-me'
IEEE_TAP_SCHOLARONE_PASSWORD='replace-me'
IEEE_TAP_APPRISE_URL='replace-me'
IEEE_IOT_SCHOLARONE_USERNAME='replace-me'
IEEE_IOT_SCHOLARONE_PASSWORD='replace-me'
IEEE_IOT_APPRISE_URL='replace-me'
